{% extends "base.html" %}
{% block pagebody %}

<div style="max-width: 480px; margin: auto;">
    <div class="card shadow-sm text-center mt-3">
        <h3 class="card-header">
            Form list
        </h3>
        <div class="card-body">
            <form class="mb-0" method="POST" action="/forms/home">
                <select name="category" class="form-select" id="category" required>
                    <option value="-1" selected>filters</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-primary">Filter</button>
                </div>
            </form>
        </div>
    </div>
    {% for form in forms %}
        <div class="card shadow-sm mt-3">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-text">
                    {{form.name}}
                </h3>
                <div class="card-text text-muted text-end lh-sm">
                    creator: {{form.creator.username}} </br>
                    {% if form.category %}
                        category: {{form.category.name}}
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <p class="card-text text-muted">
                    {{form.description}}
                </p>
                <a class="btn btn-outline-primary" role="button" href="{{ url_for('form.submit_form', form_id=form.id) }}">
                    Answer Form
                </a>
            </div>
        </div>
    {% endfor %}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="mt-3 alert alert-danger shadow-sm" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}