{% extends "base.html" %}
{% block pagebody %}

<div style="max-width: 480px; margin: auto;">
    <div class="card text-center shadow-sm mt-3">
        <div class="card-header">
            <h3 class="card-text">
                {{form.name}}
            </h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{form.description}}
            </p>
        </div>
    </div>
    {% if form_id %}
        <form method="POST" action="{{ url_for('form.submit_form', form_id=form_id) }}">
            {% for question in form.questions %}
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-text">
                            {{question.text}}
                        </h4>
                    </div>
                    <div class="card-body" name="question">

                        {% for answer in question.answers %}
                            <div class="form-check">
                                {% if question.multiple %}
                                    <input class="form-check-input" type="checkbox" name="{{ question.id }}" id="{{ answer.id }}-{{ question.dependency_id }}" value="{{ answer.id }}">
                                {% else %}
                                    <input class="form-check-input" type="radio" name="{{ question.id }}" id="{{ answer.id }}-{{ question.dependency_id }}" value="{{ answer.id }}" required>
                                {% endif %}
                                <label class="form-check-label" for="{{ answer.id }}-{{ question.dependency_id }}">{{ answer.text }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary mt-3">Submit Form</button>
        </form>

        <script>
            let dependent = [];
            let dependencys = new Object;

            window.onload = function() {
                for (var answer of document.getElementsByTagName("input")) {
                    let str = answer.getAttribute("id").split("-");
                    let dependency_id = str[1];
                    let answer_id = str[0];

                    if (dependency_id != "None") {
                        answer.setAttribute("disabled", "true");
                        dependent.push(answer);
                    }
                    
                    dependencys[answer_id] = answer;
                }
            }

            window.onclick = function() {
                dependent.forEach((elem) => {
                    dependency_id = elem.getAttribute("id").split("-")[1]

                    if (dependencys[dependency_id].checked) {
                        elem.removeAttribute("disabled");
                    } else {
                        elem.setAttribute("disabled", "true");
                        elem.checked = false;
                    }
                })
            }
        </script>
    {% endif %}
</div>

{% endblock %}