{% extends "base.html" %}

{% block pagebody %}

<div class="mt-5">
    {% if questions %}
    <form method="POST" action="/forms/creation/{{form}}/{{questions}}" style="max-width: 480px; margin: auto;">
        {% for i in range(0, questions) %}
        <h1 class="h3 font-weight-normal mt-3">
            Question number {{ i }}
        </h1>
        <input type="text" name="question{{ i }}" class="form-control mt-3" placeholder="question" required>
        <input type="text" name="answer0-{{ i }}" class="form-control mt-3" placeholder="answer 1" required>
        <div class="form-check mt-3">
            <input type="checkbox" name="multiple{{i}}" class="form-check-input">
            <label class="form-check-label" for="exampleCheck1">Allow multiple answers</label>
        </div>
        {% endfor %}
        <div class="mt-3 mb-3">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
    </form>
    {% else %}
    <form method="POST" action="/forms/creation" style="max-width: 480px; margin: auto;">
        <h1 class="h3 font-weight-normal mt-3">
            Please enter the required fields
        </h1>
        <input type="text" name="title" class="form-control mt-3" id="title" placeholder="Form Title" required>
        <input type="text" name="description" class="form-control mt-3" id="description" placeholder="Form Description" required>
        <input type="number" name="questions" class="form-control mt-3" id="questions" placeholder="Number of Questions" required>
        <div class="mt-3 mb-3">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}