{% extends "base.html" %}
{% block pagebody %}

<div style="max-width: 480px; margin: auto;">
    <div class="card text-center shadow-sm mt-5">
        <div class="card-header">
            <h3>
                pForms
            </h3>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">
                A minimal form platform developed with Flask-SQLAlchemy
            </p>
            <a class="btn btn-outline-primary" role="button" href="{{ url_for('user.signin') }}">Sign In</a>
        </div>
    </div>
</div>

{% endblock %}