<html> 
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/login" method="POST">
            <p> username <input name="user" type="text" /> </p>
            <p> password <input name="password" type="text" /> </p>
            <p> <input type="submit"> </p>
        </form>
        <a href="/"> home </a>
    </body>
</html>