{% extends "base.html" %}
{% block pagebody %}

<div style="max-width: 480px; margin: auto;">
    <div class="card text-center shadow-sm mt-3">
        <div class="card-header">
            <h3>
                Welcome to pForms {{user}}
            </h3>
        </div>
        <div class="card-body">
            <a class="btn btn-outline-primary" role="button" href="{{ url_for('form.add_form') }}">Create Form</a>
        </div>
    </div>
    {% with forms = current_user.forms %}
        {% if forms %}
            {% for form in forms %}
            <div class="card shadow-sm mt-3">
                <div class="card-header">
                    <h3 class="card-text">
                        {{form.name}}
                    </h3>
                </div>
                <div class="card-body">
                    <p class="card-text text-muted">
                        {{form.description}}
                    </p>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-outline-primary" role="button" href="{{ url_for('form.get_data', form_id=form.id) }}">View statistics</a>
                        <a class="btn btn-outline-danger" role="button" href="{{ url_for('form.delete_form', form_id=form.id) }}"> Delete form </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class=" mt-3 alert alert-danger shadow-sm" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}