{% extends "base.html" %}
{% block pagebody %}

<div style="max-width: 480px; margin: auto;">
    {% with n_submissions = form.number_of_submissions() %}
        <div class="card text-center shadow-sm mt-3">
            <div class="card-header">
                <h3 class="card-text">
                    {{form.name}}
                </h3>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{form.description}}
                </p>
                <p class="card-text text-muted">
                    Total number of submissions: {{n_submissions}}
                </p>
            </div>
        </div>
        {% for question in form.questions %}
            <div class="card shadow-sm mt-3">
                <div class="card-header">
                    <h4 class="card-text">
                        {{question.text}}
                    </h4>
                </div>
                <ul class="list-group list-group-flush">
                    {% for answer in question.answers %}
                        <li class="list-group-item">
                            <p class="card-text">
                                {{answer.text}}
                            </p>
                            {% with percent = answer.get_percent() %}
                                <p class="card-subtitle text-muted mb-2">
                                    Times selected: {{answer.times_selected}} in {{n_submissions}}
                                </p>
                                <div class="progress mb-2">
                                    <div class="progress-bar" role="progressbar" style="width: {{percent}}%;" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">{{percent}}%</div>
                                </div>
                            {% endwith %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% endwith %}
</div>

{% endblock %}